h1{
    text-align: center;
    height: fit-content;
}

.labelR{
 text-align: center;
 position: relative;
}

.labelR.uno{
  left: 42%;
}

.labelR.dos{
  left: 44%;
}

#main-content {
  background: white;
  width: 90%;
  max-width: 60%;
  position: relative;
  margin: 20px auto;
  top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: hidden;
}


input[type=text], input[type=password] {
  width: 90%;
padding: 12px 20px;
margin: 8px 5% 10px 5%;
    margin-right: 5%;
margin-right: 10px;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


.button {
  background-color: #256ce1;
  border-radius: 4px;
  color: #fff;
  height: 3.5em;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button.registrarse{
  background-color: #256ce1;
  width: 30%;
  position: relative;
  left: 35%;
  margin-top: 2%;
  
}

p{
  text-align: center;
}


.button:hover {
  opacity: 0.8;
}

#imgcontainer {
  text-align: center;
  margin: 2em 0 1em 0;
  position: relative;
  right: inherit;
}

img.registro {
  width: 20%;
  position: relative;
  left: 2%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }

}

.centered {
  position: absolute;
  left: 50%;
  text-align: center;
}