body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: white; 
    font-size: 1em;
    line-height: 1.5em
}

h1{
    text-align: center;
}


#main-content {
  background: white;
  width: 90%;
  max-width: 60%;
  position: relative;
  margin: 20px auto;
  top: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.button {
  background-color: #2d96d3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.registro {
  width: 20%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }

}
