#main-header {
    background:  #02044b;
    height: 100px;
    display: flex;
    width: 100%;
  }	
    #main-header a {
        color: white;
    }
  
    #logo-header {
      height: 85px;
      float: left;
      margin: 5px 15px;
        }
          #logo-header:hover {
              color: #0040FF;
              opacity: 0.6;
          }
          
  