#main-header {
    background:  #02044b;
    color: white;
    height: 100px;
  }	
    #main-header a {
        color: white;
    }
  
  #logo-header {
    float: left;
    padding: 3px 0 0 10px;
    width: 95px;
    height: 95px;
    text-decoration: none;
  }
    #logo-header:hover {
        color: #195c79;
    }
    
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    
    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }
    
    nav {
        float: right;
    }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-right: 20px;
        }
        
            nav ul li {
                display: inline-block;
                line-height: 100px;
            }
                
                nav ul li a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                }
                
                    nav ul li a:hover {
                        background: #0b94a6;
                    }
                    nav ul li a:active {
                        background: rgb(0, 68, 255);
                    }
  