#main-footer {
    background:  #B9D6DA;
    color: white;
    position: static;
    top: 95%;
    height: 100px;
    width: 100%;
    z-index: 1;
  }

    #main-footer p {
        margin: 0;
        text-align: center;
        display: inline-block;
    }

    #main-footer div {
        padding-left: auto;
        padding-right: auto;
    }
    
    #main-footer a {
        color: rgb(255, 255, 255);
    }

    .imgFt {
        width: 100px;
        display: inline-block;
        vertical-align: middle;
    }

