

h1 {
    text-align: center;
    
}

img{ 
    width: 250px;
    padding: 30px;
}

.bloque {
    background-color: rgb(178, 178, 179);
}

.b1 {
    margin: 5px;
    display: inline-block;
    width: 30%;
}
.b2 {
    display: inline-block;
    width: 60%;

}

.texto {
    margin: 30px;
}

button {
    width: 180px;
    height: 60px;
    display:block;
    margin-left: auto;
}