body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: white; 
    font-size: 1vw;
    line-height: 1.5em
  }

h1 {
    text-align: center;
    
}

.imgInicio{ 
    width: 50%;
    position: relative;
    left: 15%;
    top: 10%;
}

#uno{
    top: 96px;
    position: absolute;
}

.bloque {
    background-color:#EAF8FA;
    height: 28em;
    overflow: scroll;
    position: sticky;
}


.b1 {
    /* margin: 5px; */
    left: 10%;
    display: inline-block;
    width: 30%;
    position: relative;
    overflow: hidden;
    height: 28em;
   
}
.b2 {
    display: inline-block;
    width: 60%;
    position: absolute;
    overflow: hidden;
    right: 0;
    

}


.texto {
    margin: 0 2em 0 2em;
}

button {
    color: white;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

button.linkI{
    background-color: #256ce1;
    height: 3em;
    position: relative;
    float: right;
    margin-right: 3.5em;
    color: white;
    font-style: normal;
    text-decoration: none;
}

