
form {border: 0% solid #f1f1f1;}

h1{
  color: #333333;
}

input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

.imgL {
  max-width: 100%;
  height: auto;
  display:block; 
  margin:auto; 
}

#titulo{
  top: 230px;
  position: relative;
}

button {
  color: white;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  height: 3em;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

button:hover{
  opacity: 0.5;
}

button.link{
  background-color: #02044b;
  color: white;
 
}

button.submit{
  background-color: #256ce1;
  width: 100%;
}


 /* Split the screen in half */
 .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 100px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow: scroll;

}

/* Control the right side */
.right {
  right: 0;
  background: #02044b;
  overflow: scroll;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 200%;
  padding: 0 0 0 0;
} 

#ref{
  color:  #256ce1;
}