

#main-contentSobreNos {
  background: white;
  width: 100%;
  margin: 20px auto;
  top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: hidden;
}

p {
    text-align: justify;
    padding: 20px 20px 20px 20px;
}

h1 {
    text-align: center;
}

.imgSN{ 
    width: 50%;
    margin-left: 20%;
    position: relative;
    left: 5%;
}


/* Split the screen in half */
.splitSN {
    height: 100%;
    z-index: 1;
    top: 0;
    width: 50%;
    overflow-x: hidden;
    top: 96px;
  }
  
  /* Control the left side */
  .leftSobreNos {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    top: 0;
  }
  
  /* Control the right side */
  .rightSobreNos {
    right: 0;
    background-color: white;
    display: inline-block;
  }

  .texto2{
    margin-right: 2em;
    font-family: Raleway;
    font-size: large;
    line-height: 2em;
  }
